* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    background-color: orange;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    height: 11vh;
    
}

nav span{
    height: 100%;
}

nav span a {
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
    
}

nav a:hover {
    background-color: black;
}
footer {
    background-color: orange;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: white;
    position: relative;
    bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    
}

button:hover {
    background-color: black;
    color: white;
}

.background-image {
    background-image: url("/images/hi.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
}

.text {
    text-align: center;
    align-items: center;
    list-style: none;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    font-weight: bold;
}

.text span {
    margin: 0 10px;
}

.text span:hover {
    color: black;
}

.text a {
    text-decoration: none;
    color: white;
}

.text a:hover {
    color: black;
    transition: 0.4s;
}

.footer-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    font-weight: bolder;
}

.footer-bottom {
    background-color: black;
    font-size: 14px;
    text-align: center;
    height: 4vh;
    padding-top: 10px;
    word-spacing: 1px;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: orange;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    
}

.sidebar span {
    width: 100%;
    height: auto;
}

.sidebar a {
    width: 100%;
    height: 100px;
}

.logo {
        margin-left: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        height: 100%;
}

.logotext {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.sidebar div {
    width: 100%;
    font-weight: bolder;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.flex {
    color: white;
}

.para {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    border-radius: 10px;
    width: 7vw;
    height: 4vh;
    margin: auto;
    display: block;
    background-color: orange;
    margin-top: 10px;
}

.space {
    margin-top: 10px;
    margin-bottom: 10px;
}


@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

