* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(images/hi.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: center center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: orange;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

<<<<<<< HEAD
nav div {
=======
nav ul {
>>>>>>> 7ca191f18abac84a62064fa983ec1f128980c700
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bolder;
    margin-left: 15px;
    height: 8vh;
}

nav span{
    height: 100%;
}

nav span a {
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
}

nav a:hover {
    background-color: black;
}


.logo:hover {
    background-color: greenyellow !important;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: orange;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    
}

.sidebar span {
    width: 100%;
    height: auto;
}

.sidebar a {
    width: 100%;
    height: 100px;
}

.logo {
        margin-left: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
}

.logotext {
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.sidebar div {
    width: 100%;
    font-weight: bolder;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.flex {
    color: white;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

